<form 
nz-form
[formGroup]="form"
nzLayout="vertical"
nzNoColon
>
<nz-form-item>
  <nz-form-label nzFor="name">Nombre del viaje</nz-form-label>
  <nz-form-control>
  <input formControlName="name" nz-input>
</nz-form-control>
<span *ngIf="errorName == true">Debe ingresar un nombre</span>
</nz-form-item>
<nz-form-item>
  <nz-form-label nzFor="description">Descripcion</nz-form-label>
  <nz-form-control nzErrorTip="Debe ingresar una descripcion">
  <input formControlName="description" nz-input>
</nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label nzFor="tripDate">Fecha del viaje</nz-form-label>
  <nz-form-control nzErrorTip="Debe seleccionar una fecha">
  <nz-date-picker formControlName="tripDate">
  </nz-date-picker>
</nz-form-control>
</nz-form-item>
<nz-form-item >
  <nz-form-label nzFor="vehicleId">Vehiculo</nz-form-label>
  <nz-form-control nzErrorTip="Debe seleccionar un vehiculo">
  <nz-select formControlName="vehicleId"  nzPlaceHolder="Seleccione un vehiculo">
  <nz-option *ngFor="let i of vehicles" [nzLabel]="i.type"
    [nzValue]="i.id"></nz-option>
  </nz-select>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
<nz-form-label nzFor="cityId">Destino</nz-form-label>
<nz-form-control nzErrorTip="Debe seleccionar una ciudad">
<nz-select formControlName="cityId"  nzPlaceHolder="Seleccione una ciudad">
  <nz-option *ngFor="let i of cities" [nzLabel]="i.name"
    [nzValue]="i.id"></nz-option>
  </nz-select>
</nz-form-control>
</nz-form-item>
</form>
<div style="margin-top: 20px;">
  <button nz-button nzType="default" (click)="close()">
    Cancelar
  </button>
  <button
  nz-button
  nzType="primary"
  style="margin-left: 5px"
  [nzLoading]="isLoading"
  (click)="saveTrip()"
  >
  Guardar
  </button>
</div>
